@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@600&display=swap');
body{
  background-color: #6AC47E;
  color: #242B2E;
}


.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Edu VIC WA NT Beginner', cursive;
  font-size: 22px;
  color: #fff;
}
h1{
  margin-bottom: 8px;
  margin-top: 80px;
}

.App button{
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #EF5354;
  color: #fff;
  font-family: 'Edu VIC WA NT Beginner', cursive;
  width: 200px;
  border: 3px solid #EDC126;
  font-size: 18px;
}

.App button:hover{
  background-color: #FF6263;
  border: 0;
}

 span{
  font-size: 70px;
}
